table, th, td {
    border: 1px solid rgb(196, 191, 191);
    border-collapse: collapse;

  }
table{
    width:100%;
    
  } 
.greybg{
    background-color:  rgb(239, 239, 237);
}
tr{
    text-align: center;
}
h1{
    text-align: center;
}
.bold{
    font-weight: bold;
}
